[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
mss = "*"
pillow = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"

[dev-packages]
mypy = "*"
black = "*"
pytest = "*"
ipykernel = "*"
flake8 = "*"
freezegun = "*"
isort = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "bash dev.sh"
